nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 40px;
  //  background: rgba(13, 13, 20, 0.85);
  background: var(--nav-bg, rgba(13, 13, 20, 0.85));
  backdrop-filter: blur(12px);
  border-bottom: 0.5px solid var(--border-color);
}

.logo {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 28px;
  list-style: none;
}

a {
  font-size: 13px;
  // color: #ffffff;
  color: var(--text-primary);
  text-decoration: none;
  transition: all 0.2s;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  font-weight: 400;

  &:hover {
    color: var(--accent-purple);
    border-bottom-color: var(--accent-purple);
  }

  &.active {
    color: var(--accent-purple);
    border-bottom-color: var(--accent-purple);
    font-weight: 500;
  }
}

.toggle {
  background: none;
  border: 0.5px solid var(--border-color);
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: border-color 0.2s;
  color: var(--text-primary);

  &:hover {
    border-color: var(--accent-purple);
  }
}

.toggle-pill {
  display: flex;
  background: #13131f;
  border: 0.5px solid #2a2a3a;
  border-radius: 20px;
  padding: 3px;
  gap: 2px;
}

.pill-item {
  font-size: 11px;
  padding: 4px 12px;
  border-radius: 16px;
  cursor: pointer;
  color: #666;
  font-weight: 500;
  transition: all 0.2s;
  user-select: none;

  &.act {
    background: var(--accent-purple);
    color: #fff;
  }

  &:not(.act):hover {
    color: var(--text-primary);
  }
}
.nav-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 600px) {
  nav {
    padding: 14px 20px;
  }
  ul {
    display: none;
  }
}
