<section id="about">
  <div class="hero-content">
    <div class="left">
      <div class="badge">
        <span class="dot"></span>
        <span>{{ lang.t(texts.badge) }}</span>
      </div>
      <div class="name-row">
        <h1 [class.h1-fr]="lang.lang() === 'fr'">{{ lang.t(texts.greeting) }} <span class="gradient-text">Ikram Boussif</span></h1>
        <!-- <button class="watch-btn" (click)="showVideo = true">
          <div class="play-icon">▶</div>
          <div class="watch-info">
            <span class="watch-text">Watch intro</span>
            <span class="watch-sub">1 min recap</span>
          </div>
        </button> -->
      </div>
      <h2>
        {{ displayedText() }}<span class="cursor" [class.visible]="showCursor()">|</span>
      </h2>
      <p>{{ lang.t(texts.description) }}</p>
      <div class="btns">
        <a href="#projects" class="btn-primary gradient-bg">{{ lang.t(texts.viewProjects) }}</a>
        <a href="#contact" class="btn-secondary">{{ lang.t(texts.askMe) }}</a>
      </div>
    </div>

    <div class="right">
      <div class="avatar-ring">
        <div class="avatar-inner">
          <img src="ikram-boussif-photo.png" alt="Ikram BOUSSIF" />
        </div>
      </div>
    </div>
  </div>

  <div class="stats">
    <div class="stat">
      <span class="num gradient-text">3+</span>
      <span class="label">{{ lang.t(texts.yearsExp) }}</span>
    </div>
    <div class="stat">
      <span class="num gradient-text">79%</span>
      <span class="label">{{ lang.t(texts.perfBoost) }}</span>
    </div>
    <div class="stat">
      <span class="num gradient-text">v14→19</span>
      <span class="label">{{ lang.t(texts.migrationLed) }}</span>
    </div>
    <div class="stat">
      <span class="num gradient-text">5+</span>
      <span class="label">{{ lang.t(texts.projects) }}</span>
    </div>
  </div>

  <div class="quote-card"
     (mouseenter)="pauseQuote()"
     (mouseleave)="resumeQuote()">
  <div class="quote-content">
    <span class="quote-icon">"</span>
    <p class="quote-text">{{ currentQuote.text }}</p>
    <span class="quote-author">{{ currentQuote.author }}</span>
  </div>
  <div class="quote-dots">
    <span class="dot"
          *ngFor="let q of quotes; let i = index"
          [class.active]="currentQuoteIndex() === i"
          (click)="setQuote(i)">
    </span>
  </div>
</div>
</section>
