<app-hero />
<app-experience />
<app-skills />
<app-projects />
<app-contact />
  <footer>
  <div class="footer-content">
    <div class="footer-left">
      <div class="footer-logo gradient-text">IB.</div>
      <p class="footer-title">{{ language.lang() === 'en' ? 'Full Stack Developer' : 'Développeuse Full Stack' }}</p>
      <p class="footer-email">ikram.boussif.tn&#64;gmail.com</p>
    </div>
    <div class="footer-right">
      <p class="footer-links-title">{{ language.lang() === 'en' ? 'Connect' : 'Réseaux' }}</p>
      <div class="footer-links">
        <a href="https://github.com/Ikram-Boussif" target="_blank">GitHub</a>
        <a href="https://linkedin.com/in/ikram-boussif" target="_blank">LinkedIn</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <!-- <p>© 2026 <span class="gradient-text">Ikram BOUSSIF</span> — {{ language.lang() === 'en' ? 'Built with Angular 19' : 'Développé avec Angular 19' }}</p> -->
    <p>© 2026 <span class="gradient-text">Ikram BOUSSIF</span> — {{ language.lang() === 'en' ? 'Designed & Built by Ikram' : 'Conçu & Développé par Ikram' }}</p>
  </div>
</footer>
