section {
  padding: 80px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;

  h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-primary);
    margin-bottom: 12px;
  }

  p {
    font-size: 15px;
    color: var(--text-secondary);
  }
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 36px;
  flex-wrap: wrap;
}

.filter {
  font-size: 12px;
  padding: 7px 18px;
  border-radius: 20px;
  border: 0.5px solid var(--border-color);
  background: transparent;
  color: var(--text-secondary);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: #7f77dd44;
    color: var(--accent-purple);
  }

  &.active {
    background: #7f77dd22;
    border-color: #7f77dd66;
    color: #afa9ec;
    font-weight: 500;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    border-color: #7f77dd44;
    transform: translateY(-6px);
    box-shadow: 0 16px 40px rgba(127, 119, 221, 0.1);
  }
}

.card-img {
  height: 160px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &.img-purple {
    background: linear-gradient(135deg, #7f77dd22, #13131f);
  }
  &.img-teal {
    background: linear-gradient(135deg, #5dcaa522, #13131f);
  }
  &.img-blue {
    background: linear-gradient(135deg, #378add22, #13131f);
  }
  &.img-orange {
    background: linear-gradient(135deg, #ef9f2722, #13131f);
  }
  &.img-pink {
    background: linear-gradient(135deg, #ec4899, #13131f);
  }
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 10px;
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 20px;

  &.badge-purple {
    background: #7f77dd;
    color: #fff;
  }
  &.badge-teal {
    background: #5dcaa5;
    color: #0d0d14;
  }
  &.badge-blue {
    background: #378add;
    color: #fff;
  }
  &.badge-orange {
    background: #ef9f27;
    color: #0d0d14;
  }
  &.badge-pink {
    background: #ec4899;
    color: #fff;
  }
}

.mock-screen {
  width: 75%;
  height: 75%;
  // background: #0d0d14;
  background: var(--bg-card);
  border-radius: 6px;
  border: 0.5px solid #2a2a3a;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.mock-bar {
  height: 14px;
  //background: #1a1a2e;
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 8px;
  flex-shrink: 0;
}

.mock-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;

  &.red {
    background: #e24b4a;
  }
  &.yellow {
    background: #ef9f27;
  }
  &.green {
    background: #5dcaa5;
  }
}

.mock-content {
  flex: 1;
  display: flex;
  gap: 6px;
  padding: 8px;
}

.mock-sidebar {
  width: 22%;
  //background: #1a1a2e;
  background: var(--bg-secondary);
  border-radius: 3px;
}

.mock-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.mock-row {
  height: 7px;
  border-radius: 3px;

  &.dark {
    // background: #1e1e2e;
    background: var(--border-color);
  }
  &.row-purple {
    background: #7f77dd55;
  }
  &.row-teal {
    background: #5dcaa555;
  }
  &.row-blue {
    background: #378add55;
  }
  &.row-orange {
    background: #ef9f2755;
  }
  &.row-pink {
    background: #ec489955;
  }
}

.card-body {
  padding: 16px;
}

.card-name {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 8px;
}

.card-desc {
  font-size: 12px;
  color: var(--text-secondary);
  line-height: 1.6;
  margin-bottom: 12px;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 14px;
}

.tag {
  font-size: 10px;
  padding: 3px 8px;
  background: var(--bg-card);
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
  color: var(--text-secondary);
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid var(--border-color);
  padding-top: 12px;
}

.card-year {
  font-size: 11px;
  color: var(--text-muted);
}

.card-links {
  display: flex;
  gap: 8px;
}

.link-btn {
  font-size: 11px;
  padding: 5px 12px;
  border-radius: 6px;
  border: 0.5px solid #7f77dd44;
  color: var(--accent-purple);
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    background: #7f77dd11;
  }

  &.live {
    background: linear-gradient(
      135deg,
      var(--accent-purple),
      var(--accent-teal)
    );
    border: none;
    color: #fff;
  }
}
.private-badge {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 9px;
  font-weight: 600;
  padding: 3px 8px;
  background: #1a1a2e;
  border: 0.5px solid #2a2a3a;
  border-radius: 20px;
  color: var(--text-muted);
}

.link-btn.private {
  border-color: #2a2a3a;
  color: var(--text-muted);
  cursor: default;
}

.link-btn.details {
  background: linear-gradient(135deg, var(--accent-purple), var(--accent-teal));
  border: none;
  color: #fff;
}

.show-more {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.show-more-btn {
  font-size: 13px;
  padding: 10px 28px;
  border-radius: 8px;
  border: 0.5px solid #7f77dd44;
  color: var(--accent-purple);
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: #7f77dd11;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
